@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700&family=Noto+Serif+TC:wght@300;400;500;600;700&family=Roboto+Slab&display=swap");

@keyframes btn-background-color-change {
    from {
        background-color: transparent;
    }
    to {
        background-color: gray;
    }
}

* {
    font-family: "Noto+Sans+TC", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

header {
    height: 60px;
    width: 100%;
    background: rgba(35, 28, 26, 0.8);
    position: fixed;
}

.logo {
    position: absolute;
    left: 5vw;
    align-items: center;
}

ul {
    align-items: center;
    position: absolute;
    right: 5vw;
}

li {
    display: inline;
    margin-right: 2vw;
    border: 1px antiquewhite solid;
    border-radius: 5px;
    padding: 5px;
}

header a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.5px;
    padding-left: 10px;
    padding-right: 10px;
}

nav li:hover {
    animation-name: btn-background-color-change;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

.special {
    padding-left: 21px;
    padding-right: 21px;
}
